{% extends "base.html" %}

{% block content %}
<p>Who do you want to say hi to?
    <ul>
    {% for greeting_id, whom in greetings %}
        <li><a href="{{ url_for('.greeting', greeting_id=greeting_id) }}">{{ whom }}</a></li>
    {% endfor %}
    </ul>
</p>
{% endblock %}